@import '../../../styles/colors';

.manage-backup-code {
  &__actions {
    position: relative;
    margin-bottom: 20px;
  }

  &__note {
    margin-top: 5px;
    color: $color-gothic;
    line-height: 1.2857em;
    font-size: 18px;
  }
}
