

.third {
  background-color: #0099cc;
  color: whitesmoke;
  text-align: left;
  vertical-align: center;
}

.header {
  background-color: #8c489f;
  color: whitesmoke;
  border-radius: 3;
}

.footer {
  background-color: #8c489f;
  color: whitesmoke;
  border-radius: 3;
}

.item {
  text-align: left;
  vertical-align: center;
}
