// Styling select2 can be tricky because the child elements of ng-select don't
// get the component scoping that the parent <ng-select> does, e.g.
// ng-select[_ngcontent-c3]. So some things have to be on the global sheet, as
// far as I know.

.list-actions {
  ng-select {
    z-index: 15;

    > div > div.single {
      > div.value {
        padding: 0 25px 0 10px;
        font-size: 0.9em;
        white-space: normal;
      }

      > div.toggle {
        position: relative;
        color: transparent!important;

        &:after {
          content: '∟';
          display: block;
          position: absolute;
          top: 0;
          right: 8px;
          color: $color-thunder;
          transform: rotate(315deg);
        }
      }
    }
  }
}
