<div *ngIf="totalSecretsCount === 0" class="paragraph">
  <div class="heading-small heading-small--small-margin">
    Get started by saving your first&nbsp;password.
  </div>
  <div class="text--large text--less-bottom-margin">
    Press the icon above, then press “Add New Password”. Once you add a
    password, it will show&nbsp;here.
  </div>
  <div class="text--large">
    If you’re switching from another password manager, try our
    <app-text-link
      link="javascript:void(0)"
      (click)="openFullApp.emit('#/import')"
      >importer</app-text-link
    >.
  </div>
</div>

<div *ngIf="totalSecretsCount === 1" class="paragraph">
  <h2 class="heading-small heading-small--small-margin">
    Your first password is secured.
  </h2>
  <div class="text--large text--less-bottom-margin">
    Click the
    <span class="icon-container">
      <svg class="icon"><use xlink:href="#icon-copy-username"></use></svg>
    </span>
    and
    <span class="icon-container">
      <svg class="icon"><use xlink:href="#icon-copy-password"></use></svg>
    </span>
    icons to copy usernames and passwords.
  </div>

  <div
    *ngIf="secret.data.url !== ''"
    class="text--large text--less-bottom-margin"
  >
    Try
    <app-text-link
      (click)="secret.data.url ? openUrl.emit() : null"
    >
      visiting the site
    </app-text-link>
    that you just saved. Go to its login form, then open this extension and
    press the Autofill icon
    <span class="icon-container">
      <svg class="icon icon__autofill">
        <use xlink:href="#icon-autofill"></use>
      </svg> </span
    >.
  </div>

  <div
    *ngIf="secret.data.url === ''"
    class="text--large text--less-bottom-margin"
  >
    When you save a password that has a URL, you can open this extension while
    visiting that site and press the Autofill icon
    <span class="icon-container">
      <svg class="icon icon__autofill">
        <use xlink:href="#icon-autofill"></use>
      </svg>
    </span>
    to fill in the username and password fields faster.
  </div>

  <div class="text--large text--less-bottom-margin">
    When your list gets longer, use the search bar to find what you’ve saved.
  </div>
</div>
