<ns-action-bar-container></ns-action-bar-container>

<DockLayout stretchLastChild="true">

    <FlexboxLayout dock="bottom" class="m-x-10 m-y-25" flexDirection="row" justifyContent="flex-end">
        <app-button
          text="Save"
          (tap)="submit.emit()"
        ></app-button>
    </FlexboxLayout>

    <ScrollView>
        <StackLayout class="p-x-20 p-y-25">

            <StackLayout class="m-b-30">
              <app-heading text="Error Reporting"></app-heading>
            </StackLayout>

            <Label
              class="text-label m-b-10"
              text="For your safety and privacy, Passit has no in-app tracking by default. However, the Passit developers benefit from receiving error reports, which requires this sort of&nbsp;tracking."
              textWrap="true"
            ></Label>

            <Label
              class="text-label m-b-20"
              text="If you are willing to opt in to share anonymous information, please do! It will help make Passit better for&nbsp;everyone."
              textWrap="true"
            ></Label>

            <app-checkbox
              title="Enable error reporting"
              [control]="form.controls.optInErrorReporting"
            ></app-checkbox>

        </StackLayout>
    </ScrollView>

</DockLayout>
