<div class="error-page l-container-narrow u-margin-tb-50">
  <h2 class="heading-main heading-main--pad-bottom">
    Page not found
  </h2>

  <div class="text--large error-page__text">
    The page you tried to access doesn't exist:
  </div>

  <div class="error-page__url">
     {{ currentRoute }}
  </div>

  <div class="text--large error-page__text">
    This might have happened because we removed or changed the location of a page. It also could have happened because you mistyped the URL or were given a bad link.
  </div>

  <div class="text--large error-page__text">
    Here are some links to help you get around Passit:
  </div>

  <ul *ngIf="isLoggedIn" class="error-page__link-list">
    <li>
      <app-text-link [link]="['/list']">
        View password list
      </app-text-link>
    </li>
    <li>
      <app-text-link [link]="['/groups']">
        View groups list
      </app-text-link>
    </li>
    <li>
      <app-text-link [link]="['/account']">
        Account settings
      </app-text-link>
    </li>
  </ul>
  <ul *ngIf="!isLoggedIn" class="error-page__link-list">
    <li>
      <app-text-link [link]="['/register']">
        Sign up
      </app-text-link>
    </li>
    <li>
      <app-text-link [link]="['/login']">
        Log in
      </app-text-link>
    </li>
    <li>
      <app-text-link [isExternal]="true" link="https://passit.io">
        Home
      </app-text-link>
  </ul>

  <div class="error-page__error-code">
    Error code: 404 Not Found
  </div>
</div>