<div class="account l-container-narrow u-margin-tb-50">
  <app-text-link class="heading-back-link" [link]="['/account']" caret="left"
    >Account Management</app-text-link
  >

  <h2 class="heading-main heading-main--pad-bottom">Forgot Your Password?</h2>

  <div class="register-step__feedback">
    <div class="text--large text--less-bottom-margin">
      If you forgot your password, you will need to recover your account.
    </div>
    <div class="text--large">
      Do you have your backup code? Your backup code is contained in a PDF that
      you printed or saved when you created your Passit account.
    </div>
  </div>

  <h3 class="heading-small">I have my backup code</h3>

  <ul class="text--large text--less-bottom-margin">
    <li>
      <app-text-link
        caret="right"
        link="javascript:void(0)"
        (click)="onLogOut()"
        >Log&nbsp;out</app-text-link
      >
    </li>
    <li>Click the “Recover your account” link on the login&nbsp;page</li>
    <li>Follow the steps to change your password</li>
  </ul>

  <h3 class="heading-small">I don’t have my backup code</h3>

  <div class="text--large text--less-bottom-margin">
    If you didn’t save your backup code, then you will need to transfer your
    passwords to a new account. Since we require your password to delete your
    account, you will not be able to do so. Therefore, you will need to use a
    different email address for your new account.
  </div>

  <ul class="text--large text--less-bottom-margin">
    <li>
      <app-text-link caret="right" [link]="['/export']"
        >Export your passwords</app-text-link
      >
    </li>
    <li>Register a new account</li>
    <li>
      <app-text-link caret="right" [link]="['/import']"
        >Import your passwords</app-text-link
      >
    </li>
  </ul>
</div>
