<ns-action-bar-container></ns-action-bar-container>

<DockLayout stretchLastChild="true">
  <StackLayout>
    <app-heading text="Export Passwords"></app-heading>
    <Label
      text="Export a CSV file with columns: name, username, url, password, extra"
      textWrap="true"
    ></Label>
    <Button (tap)="onExport()" text="Export"></Button>
  </StackLayout>
</DockLayout>
